li:nth-child(1){
    font-size: 18px;
    color: blue;
}
li:nth-child(2){
    font-size: 22px;
}
li:nth-child(3){
    font-size: 26px;
}
li:nth-child(4){
    font-size: 30px;
}
li:nth-child(5){
    font-size: 34px;
    color: blue;
}